# База данных
db.sqlite3
db.sqlite3-journal

# Виртуальное окружение
venv/
env/
ENV/

# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so

# Django
*.log
media/
static/
html/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Backup
*.backup
*.bak